body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263561;
    color: white;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-item {
    margin: 0 10px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-link:hover {
    text-decoration: underline;
}

.navbar-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.container {
    margin-top: 70px; /* Pentru a evita suprapunerea cu meniul fix */
    padding: 20px;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-list {
        flex-direction: column;
        width: 100%;
    }

    .navbar-item {
        margin: 10px 0;
        text-align: center;
    }

    .navbar-toggle {
        display: block;
    }
}

.navbar-menu.active {
    display: flex;
}