* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #e6edef;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263561;
    color: white;
    padding: 20 px auto;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-item {
    margin: 0 10px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-link:hover {
    text-decoration: underline;
}

.navbar-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}
body {
    font-family: sans-serif;
    background-color: #f7f6f9;
    height: 100vh;
}

.btn {
    border: none;
    cursor: pointer;
    padding: .75rem 1rem;
    border-radius: .25rem;
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.search-input {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #263561;
    border-right: none; /* Elimină marginea din dreapta pentru a părea lipite */
    border-radius: 25px 0 0 25px; /* Rotunjeste colțurile stânga */
    outline: none; /* Elimină conturul implicit */
}
.search-button {
    background-color: #263561;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.0em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}

.search-button i {
    margin: 0;
}

/*.btn-search {
    color: #fff;
    background-color: #263561;
    ma
}*/

.btn-location {
    color: #fff;
    background-color: #808080;
    border-radius: 25px;
}

.alert-error {
    color: #fff;
    background-color: #d02533;
    padding: 1rem;
}

.page-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

.sidebar {
    background-color: #fff;
    padding: 1rem;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.page1-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.city-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.city-form label {
    font-weight: 700;
}

.city-form input {
    padding: .5rem;
}

.separator {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.separator::before,
.separator::after {
    flex: 1;
    content: ' ';
    padding: .5px;
    background-color: #808080;
}

.section-title {
    margin-bottom: 1rem;
}

.weather-panel {
    padding: 1rem;
    border-radius: .25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.weather-details {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.weather-panel img {
    width: 80px;
}

.weather-panel .date {
    font-weight: 700;
}

.weather-panel.today {
    color: #fff;
    background-color: #263561;
}

.weather-panel.forecast {
    color: #000;
    background-color: #fff;
}

.weather-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
}

@media screen and (min-width: 760px) {
    .page-container {
        grid-template-columns: 360px 1fr;
        height: 100%;
    }
}